#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ohm-shell3
Comment=gnome-shell style, desktop overlay
Exec=/usr/bin/ohm-shell3
Icon=/usr/share/pixmaps/ohm-shell.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;Applications;
StartupNotify=true
Name[en_AU]=ohm-shell3
GenericName=
Comment[en_AU.utf8]=gnome-shell style, desktop overlay
