[Desktop Entry]
Name=ohm-shell
Comment=gnome-shell style, desktop overlay
Exec=/usr/bin/ohm-shell
Icon=/usr/share/pixmaps/pyverly.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;Applications;
StartupNotify=true
Name[en_AU]=ohm-shell
GenericName=
Comment[en_AU.utf8]=gnome-shell style, desktop overlay
