#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pyverly
Comment=Desktop Overlay
Exec=/usr/bin/pyverlay
Icon=/usr/share/pixmaps/pyverly.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;Applications;
StartupNotify=true
Name[en_AU]=pyverlay
GenericName=
